[submodule "ECommons"]
	path = ECommons
	url = https://github.com/zodiac0806/ECommons.git
[submodule "AutoRetainerAPI"]
	path = AutoRetainerAPI
	url = https://github.com/zodiac0806/AutoRetainerAPI.git
[submodule "OtterGui"]
	path = OtterGui
	url = https://github.com/zodiac0806/OtterGui.git
[submodule "NightmareUI"]
	path = NightmareUI
	url = https://github.com/zodiac0806/NightmareUI.git
[submodule "NightmareUI.OtterGuiWrapper"]
	path = NightmareUI.OtterGuiWrapper
	url = https://github.com/zodiac0806/NightmareUI.OtterGuiWrapper.git
[submodule "FFXIVClientStructs"]
	path = FFXIVClientStructs
	url = https://github.com/zodiac0806/FFXIVClientStructs.git
