[submodule "ECommons"]
	path = ECommons
	url = ../ECommons.git.git
[submodule "AutoRetainerAPI"]
	path = AutoRetainerAPI
	url = ../AutoRetainerAPI.git.git
[submodule "OtterGui"]
	path = OtterGui
	url = ../OtterGui.git.git
[submodule "NightmareUI"]
	path = NightmareUI
	url = ../NightmareUI.git.git
[submodule "NightmareUI.OtterGuiWrapper"]
	path = NightmareUI.OtterGuiWrapper
	url = ../NightmareUI.OtterGuiWrapper.git.git
[submodule "FFXIVClientStructs"]
	path = FFXIVClientStructs
	url = ../FFXIVClientStructs.git.git
